SECRET_KEY = "secret"
DB_CONNECTION_STRING_FOR_TESTS = "host=localhost user=user password=password dbname=tests_db sslmode=disable"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="my_db"
REDIS_ADDRES="localhost:6379"
REDIS_PASSWORD="password"
LOG_FORMAT=json
LOG_LEVEL=debug 
